<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About me</div>
            <p class="paragraph-text justify-text">
                Hey! I'm Max, a game developer / pixel artist who enjoys creating experiences that bring other people
                joy.
            </p>
            <p class="paragraph-text justify-text">
                After completing my bachelors degree in computer science at Vorarlberg University of Applied Sciences
                and working for a year as a software developer, I realized that, while my job was great, it was missing
                that special something that was truly fulfilling. I thus decided to chase my childhood dream of making
                video games, and enrolled in the Multimedia Technology masters program at <b>Salzburg University of
                Applied Sciences</b>. Here I am currently finishing up my masters degree and looking for work! (If
                you've got some, feel free to <a href="#contact"> contact me</a>!)
            </p>
            <div class="subsection-heading">Off the clock</div>
            <p class="paragraph-text justify-text">
                I don't just make games, I play them too! Broadening my horizon and trying obscure, interesting games is
                a big hobby of mine, just as much as analytically dissecting the designs of AAA titles. You'll also
                likely find me at your local Super Smash Brothers tournament, either chasing the crown as part of <a
                    target="_blank" href="https://westaustriagaming.at">West Austria Gaming</a>, or helping out with
                setup and management, in an effort to grow the Austrian SmashBros scene. Got a tournament coming up and
                need some help? Or maybe you want to join the scene and are not sure where to go or who to talk to? Hit
                me up!
            </p>
            <p class="paragraph-text justify-text">
                When I'm not gaming, I enjoy creating pixel art, dabbling in music, and diving into fantasy worlds with
                friends through Dungeons and Dragons, either as a player or as a DM myself.
            </p>
            <p class="paragraph-text justify-text">
                I post software stuff I'm working on on my <a target="_blank"
                                                              href="https://github.com/{{ site.github_username }}">GitHub</a>
                and you can find various ramblings and pixel art on my <a target="_blank"
                                                                          href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>.
                When I enter GameJams I usually post the result on my <a target="_blank"
                                                                         href="https://{{ site.itch_username }}.itch.io">itch.io
                page</a>, feel free to check out those games and give feedback!
            </p>
        </div>
    </section>
</div>
