<div class="section-wrapper">
    <section class="section extra" id="contact">
        <div id="contact-text">
            <div class="section-heading" id="chat-text">Contact</div>
            <p class="paragraph-text justify-text">
                I'm open to work opportunities or interesting collaborations, game development in particular. Feel free
                to hit me up through email or any of my socials, I'd love to hear from you!
            </p>
            <p class="paragraph-text justify-text">
                Got a cool game or other project you could use help on? Hit me up! Want to talk Games, Development,
                Movies, Pixelart or anything in that ballpark? Shoot me a message!
            </p>

            {% include sociallinks.html %}
        </div>
    </section>
</div>